@import "tailwindcss";

@theme {
  --color-background: #0d0d0d;
}
/* Dark Minimal Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 10px;
  transition: background-color 0.2s ease, border 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #1a1a1a; /* thumb | track */
}
